{% extends "layout.html" %}

{% block content %}
        <section class="header">
            <h1>Patrick Regis</h1>
            <p>Aspiring Pythonista, Point of Sale Developer</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="/static/images/aboutme.jpeg" alt="A stack of books with text that says, It's All About Me.">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>My Career | My Future</h2>
            <p>
                For the past decade, I have had the privilege of being the sole developer of ThriftOS, a point of sale
                software suite designed to meet the needs of the thrift store industry.
            </p>
            <p>
                Through my continued education and training with the Python language, I hope to secure a role that allows
                me to hone my skills and grow as a developer.
            </p>
            <p style="text-align:center">
                For a more detailed review of my experience and work history, I've provided my resume below.
            </p>
            <a href="/static/pdf/resume.pdf" target="_blank"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}